body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.text {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #1326b4; /* Color de fondo normal */
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #48b925; /* Color de fondo al pasar el ratón */
}

#respuesta {
    font-size: 40px;
    color: #1326b4; /* Color del resultado */
}